<!DOCTYPE html>
<html>
<head>
  <title>Oakland.is</title>
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400,900' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="build/css/style.css">
  <link rel="icon" href="build/img/favicon.ico" type="image/x-icon" />
</head>
<body>
  <div class="header">
    <div class="row">
      <div class="large-6 columns large-centered medium-4 medium-centered">
        <img src="build/img/oakland.png" alt="Oakland">
      </div>
    </div>
    <div class="row collapse">
      <div class="row">
      </div>
      <div class="large-6 columns medium-12">
        <h1>Oakland is</h1>
      </div>
      <div class="large-6 columns show-for-medium-up">
        <div class="underline"></div> 
      </div>
    </div>
  </div>
  <div class="sub-header">
    <div class="row">
      <div class="large-12 columns">
        <h2>A community of startups made in Oakland, CA. <a href="#" class="join-click" data-reveal-id="join" data-reveal>Want to join?</a></h2>  
      </div> 
    </div>
  </div>  <div class="content">
    <div class="row collapse">
      <div class="large-12 columns">
        <ul class="companies">
          <% for (var i = 0; i < companies.length; i++ )  { %>
            <li><a target="_blank" href="<%=companies[i].url%>"><%=companies[i].name%></a></li>
          <% } %>
        </ul>
      </div>
    </div>
  </div>
  <div id="join" class="reveal-modal large" data-reveal>
    <p class="lead">How can a company become part of this list?</p>
    <ul>
      <li>The company is made in Oakland, CA.</li>
      <li>The company displays “Made in Oakland” prominently and links to this page</li>
      <li>The company emails <a href="mailto:join@oakland.is">join@oakland.is</a></li>
    </ul>
    <p class="lead">What does “made in Oakland” really mean?</p>
    <p>If you’re a technology company, this means that more than 50% of your code was written by engineers who work full time in Oakland, CA. If you are a non-technology company, this means that the majority of your employees work in Oakland, CA.</p>
    <p class="lead">Is there a Made in Oakland logo that companies can display?</p>
    <p>No. Simply put “Made in Oakland” or some variation of the phrase in your footer with a link back to this site and you’re good to go. Some examples of possible variations are:</p>
    <ul>
      <li>made with love in oakland </li>
      <li>handcrafted in oakland</li>
      <li>built in OAK</li>
    </ul>
    <p>We are considering creating a logo — if you’re interested in helping us design one, get in touch.</p>
    <p class="lead">What is the point of this list?</p>
    <p>Oakland is one of the fastest growing startup communities in the country, but not that many people know about it. Letting the world know that Oakland is creating some of the best new experiences on the web and in the real world allows our community to grow faster.</p>
    <p class="lead">Who’s behind this list?</p>
    <p>The companies that are already on the list. There’s no other third-party organization.</p>
    <p class="lead">I have a suggestion for this page, what should I do?</p>
    <p>Send any feedback or suggestions to <a href="mailto:suggestions@oakland.is">suggestions@oakland.is</a>.</p>

    <a class="close-reveal-modal">&#215;</a>
  </div>
  <p class="text-center">made with love in oakland.</p>
  <script src="build/js/app.js" type="text/javascript"></script>
</body>
</html>