@import "settings";
@import "../bower_components/foundation/scss/normalize";
@import "../bower_components/foundation/scss/foundation";

$padding: 10px;
$header-bg-color: #5C962F;
$header-color: #fff;
$subheader-bg-color: #fff;
$subheader-color: $header-bg-color;
$content-bg-color: #fff;
$company-color: #555;
$company-size: 20px;

html, body {
    width: 100%;
    height: 100%;
}


.header {
    padding: $padding;
    background: $header-bg-color;
    h1 {
        font-weight: 700;
        font-size: emCalc(95px);
        color: $header-color;
        text-align: center;
    }

    .underline {
        display: none;
        width: 97%;
        margin-right: 3%;
        height: 5px;
        margin-top: 97px;
        background: $header-color;
    }
}

.sub-header {
    background: $subheader-bg-color;
    padding: $padding;
    h2 {
        color: $subheader-color;
        font-size: $h3-font-size;
        text-align: center;
        a {
            color: lighten($subheader-color, 10%);
            &:hover {
                color: lighten($subheader-color, 20%);
            }
        }
    }
}

#join {
    p.lead {
        margin-bottom: 5px;
    }
}

.content {
    background: $content-bg-color;
    ul.companies {
        margin: 30px 0;
        list-style: none;
        li {
            font-size: $company-size;
            position: relative;
            a {
                display: block;
                padding: $padding $padding * 3;
                color: $company-color;
                font-weight: bold;
                position: relative;
                &:hover {
                    background: lighten($company-color, 40%);
                    &:after {
                        opacity: 1;
                    }
                    &:before {
                        background: #fff;
                    }
                }
                &:before {
                    $size: $company-size / 3;
                    content: " ";
                    display: block;
                    background: lighten($company-color, 40%);
                    height: $size;
                    width: $size;
                    border-radius: $size;
                    position: absolute;
                    left: $padding;
                    top: 50%;
                    margin-top: -$size / 2;
                }
                &:after {
                    opacity: 0;
                    content: attr(href);
                    display: block;
                    position: absolute;
                    height: 24px;
                    line-height: 20px;
                    right: 10px;
                    top: 50%;
                    margin-top: -10px;
                    color: white;
                    // font-weight: 500;
                }
            }
        } 
    }
}

@media #{$small-only} {
    .header {
        h1 {
            font-size: 70px;
        }
    }
}

@media #{$large-up} {
    .header {
        .underline {
            display: block;
        }
        h1 {
            text-align: left;
        }
    }

    .sub-header {
        h2 {
            text-align: left;
        }
    }
}
